<button onclick="sayHello()">Hello</button>
<span id="myText"></span>
<script>
    var nama = "hilmi";
    function sayHello(){
        //mendapatkan obj elemen
        let obj = document.getElementById('myText');
        //isi datanya
        obj.innerHTML = "Hello "+nama;
        //change style
        obj.style.background="yellow";
     
    }
</script>