<body>
    <h2>Menulis ke console</h2>
</body>
<script>
    var bil1 = 8;
    var bil2 = 2;
    let nama = "Hilmi";
    console.log('Nama saya: '+nama);
    let bil3 = bil1 * bil2;
    console.log(bil1 +' * '+ bil2 +' = '+bil3);
</script>