<h1>Belajar JS</h1>
<p>Mencoba menulis text pada elemen html</p>
<p id="myText"></p>
<p id="myText"></p>

<script>
    // 1. Mengakses element HTML dengan id myText
    // 2. Menyisipkan text pada bagian dalam element tersebut
    document.getElementById("myText").innerHTML = 'Ini text ditulis dari JS'
    // Menulis string langsung ke dokumen
    document.write('Ini juga text dari JS')
    // menulis elemen beserta isinya ke dokumen
    document.write('<h1>Test</h1>');
</script>
